In [ ]:
# QUESTION 1

In [1]:
def square(n):
    return (n, n**2)

print(square(5))

(5, 25)

In [ ]:
# QUESTION 2

In [2]:
def strings(str1, str2):
    return(str1 + str2)

print(strings('Ashutosh',' Banskota'))

Ashutosh Banskota

In [ ]:
# QUESTION 3

In [3]:
def odd_or_even(num):
    if num % 2 == 0:
        print('Even Number')
    else:
        print('Odd number')

(odd_or_even(6))
(odd_or_even(3))

Even Number
Odd number

In [ ]:
# QUESTION 4

In [4]:
def dict_keys():
    squared_dict = {num: num**2 for  num in range(1,21)}
    return squared_dict

print(dict_keys())

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [ ]:
# QUESTION 5

In [5]:
def square_root(num):

    if num % 2 == 0:
        print('Even')

    else:
        print('Odd')

        return num ** 0.5
    
print(square_root(81))

Odd
9.0

In [ ]:
# QUESTION 6

In [15]:
def separate(name_list, number_list):
    output_list = []
    i = 0
    while i < len(name_list):
        output = [name_list[i], number_list[i]]
        output_list.append(tuple(output))
        i += 1
    return output_list

print(separate(["Dan Mace", "Connor Meyer", "Adam Smith", "John Watson"], [98980000, 777898879, 123087699, 960008779]))

[('Dan Mace', 98980000), ('Connor Meyer', 777898879), ('Adam Smith', 123087699), ('John Watson', 960008779)]

In [ ]:
# QUESTION 7

In [6]:
t = (1,2,3,4,5,6,7,8,9,10)

print(t[:len(t)//2])
print(t[len(t)//2:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [ ]:
# QUESTION 8

In [14]:
def student_email(usernames):
    student_email = [username + "@thebritishcollege.edu.np" for username in usernames]
    return student_email

student_username = ["ksmith", "rsouza", "lgarber", "aghods", "shassan", "proy"]
print(student_email(student_username))

['ksmith@thebritishcollege.edu.np', 'rsouza@thebritishcollege.edu.np', 'lgarber@thebritishcollege.edu.np', 'aghods@thebritishcollege.edu.np', 'shassan@thebritishcollege.edu.np', 'proy@thebritishcollege.edu.np']

In [ ]:
# QUESTION 9

In [7]:
name_list = [("Dan Mace", 98980000), ("Connor Meyer", 777890879), ("Adam Smith", 123087699), ("John Watson", 960008779)]

i = 0
while i < len(name_list):
    print("Name:", name_list[i][0])
    print("Contact no:", name_list[i][1])
    i += 1

Name: Dan Mace
Contact no: 98980000
Name: Connor Meyer
Contact no: 777890879
Name: Adam Smith
Contact no: 123087699
Name: John Watson
Contact no: 960008779

In [ ]:
# QUESTION 10

In [8]:
def tuple_to_dictionary(input_list):
    output_dict = {}
    for item in input_list:
        key = item[0]
        value = item[1]
        output_dict[key] = value
    return output_dict

input_list = [("Dan Mace", 98980000), ("Connor Meyer", 777890879), ("Adam Smith", 123087699), ("John Watson", 960008779)]
output_dict = tuple_to_dictionary(input_list)

print(output_dict)

{'Dan Mace': 98980000, 'Connor Meyer': 777890879, 'Adam Smith': 123087699, 'John Watson': 960008779}

In [ ]:
# QUESTION 11

In [9]:
def no_of_words(input_str):
    words = input_str.split()
    return len(words)

input_str = input('Enter the words to get the length:- ')
num_words = no_of_words(input_str)
print("Number of words:", num_words)

Number of words: 6

In [ ]:
# QUESTION 12

In [10]:
def fibonacci(n):
    a, b = 1, 1
    for i in range(n):
        print(a, end=", ")
        a, b = b, a+b

fibonacci(12)

1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144,

In [ ]:
# QUESTION 13

In [11]:
player1 = input("Player 1, enter your choice (rock/paper/scissor): ").lower()
player2 = input("Player 2, enter your choice (rock/paper/scissor): ").lower()

if player1 == player2:
    print("It's a tie!")
elif player1 == "rock":
    if player2 == "paper":
        print("Player 2 wins")
    else:
        print("Player 1 wins")
elif player1 == "paper":
    if player2 == "scissor":
        print("Player 2 wins")
    else:
        print("Player 1 wins")
elif player1 == "scissor":
    if player2 == "rock":
        print("Player 2 wins")
    else:
        print("Player 1 wins")
else:
    print("Invalid input! You must enter either rock, paper, or scissor.")

Player 2 wins

In [ ]:
# QUESTION 14

In [12]:
for i in range(1, 10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
# QUESTION 15

In [13]:
def sort_hyphen(sequence):
    words = sequence.split("-")
    words.sort()
    sorted_sequence = "-".join(words)
    return sorted_sequence

input_str = 'z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-d-c-b-a'
output_str = sort_hyphen(input_str)
print(output_str)

a-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z